body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #bbb3b3;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header div span {
    font-size: 2rem;
    font-family: 'Parkinsans', sans-serif;
    font-weight: bold;
    color: #0b2742;
    margin-left: 1rem;
}
header img{
    height: 100px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #0b2742;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 8vh;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form select, form button {
    width: 100%; 
    max-width: 400px; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

form button {
    background-color: #0b2742;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
}

form button:hover {
    background-color: #6286a5;
}

h2 {
    text-align: center;
}